# OS
.DS_Store

# Python
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Envs
.venv/
venv/

# Build
build/
dist/

# Editors/IDE
.idea/
.vscode/

# Notebooks
.ipynb_checkpoints/

# Local data caches
mlruns/
minio/

